# Week 6 Assignment - Pandas

In [1]:
import pandas as pd
import numpy as np

### 1) Load the data into a pandas dataframe (you may get a warning, you can get rid of it by setting low_memory=False). 

### Print the first 10 rows and print a random sampling of the rows in the dataframe.

In [2]:
df = pd.read_csv("data/realtor-data.csv", low_memory=False)

print("First 10 rows:")
print(df.head(10))

print("\nRandom sample of 5 rows:")
print(df.sample(5))

First 10 rows:
     status  bed bath  acre_lot           city        state  zip_code  \
0  for_sale  3.0  2.0      0.12       Adjuntas  Puerto Rico     601.0
1  for_sale  4.0  2.0      0.08       Adjuntas  Puerto Rico     601.0
2  for_sale  2.0  1.0      0.15     Juana Diaz  Puerto Rico     795.0
3  for_sale  4.0  2.0      0.10          Ponce  Puerto Rico     731.0
4  for_sale  6.0  2.0      0.05       Mayaguez  Puerto Rico     680.0
5  for_sale  4.0  3.0      0.46  San Sebastian  Puerto Rico     612.0
6  for_sale  3.0  1.0      0.20         Ciales  Puerto Rico     639.0
7  for_sale  3.0  2.0      0.08          Ponce  Puerto Rico     731.0
8  for_sale  2.0  1.0      0.09          Ponce  Puerto Rico     730.0
9  for_sale  5.0  3.0      7.46     Las Marias  Puerto Rico     670.0

   house_size prev_sold_date     price
0       920.0            NaN  105000.0
1      1527.0            NaN   80000.0
2       748.0            NaN   67000.0
3      1800.0            NaN  145000.0
4         NaN            NaN   65000.0
5      2520.0            NaN  179000.0
6      2040.0            NaN   50000.0
7      1050.0            NaN   71600.0
8      1092.0            NaN  100000.0
9      5403.0            NaN  300000.0

Random sample of 5 rows:
           status  bed bath  acre_lot        city        state  zip_code  \
356427   for_sale  NaN  NaN     26.28  Colchester      Vermont    5446.0
20379    for_sale  3.0  1.0      0.06     Bayamon  Puerto Rico     956.0
753177   for_sale  2.0  2.0       NaN    New York     New York   11231.0
1000101  for_sale  4.0  3.0      0.46      Monroe     New York   10950.0
665157   for_sale  NaN  NaN       NaN  Manahawkin   New Jersey    8050.0

         house_size prev_sold_date      price
356427          NaN            NaN  3500000.0
20379         896.0            NaN   105000.0
753177       1092.0            NaN  1250000.0
1000101      2270.0     2002-07-18   619000.0
665157          NaN     2022-02-25   139000.0

### 2) You should always check how many null values there are in your data as well as the data types of the data you're working with. Often you will come across data that looks correct but isn't the right data type. 

### Check the number of null values for every column and check the data types as well

In [3]:
print("Null values per column:")
print(df.isnull().sum())

print("\nData types of columns:")
print(df.dtypes)

Null values per column:
status                 0
bed               216467
bath              194206
acre_lot          357467
city                 191
state                  0
zip_code             479
house_size        450112
prev_sold_date    686293
price                108
dtype: int64

Data types of columns:
status             object
bed                object
bath               object
acre_lot          float64
city               object
state              object
zip_code          float64
house_size        float64
prev_sold_date     object
price              object
dtype: object

### 3) We have 3 columns that looked right when checking the data but aren't the right data type and we'll correct it. 

### Cast the columns bed, bath and price to float. Values that cannot be casted to float, like "hello" should be turned into NaN. 

### Check the data types again to make sure the conversion was successfull.



### Get a count of the number of NaNs in bed, bath and price columns. 

### You should get 216535, 194215 and 110 respectively

In [4]:
for col in ['bed', 'bath', 'price']:
    df[col] = pd.to_numeric(df[col], errors='coerce')

print("\nData types after conversion:")
print(df.dtypes)

print("\nNull counts after conversion:")
print("bed:", df['bed'].isnull().sum())
print("bath:", df['bath'].isnull().sum())
print("price:", df['price'].isnull().sum())

Data types after conversion:
status             object
bed               float64
bath              float64
acre_lot          float64
city               object
state              object
zip_code          float64
house_size        float64
prev_sold_date     object
price             float64
dtype: object

Null counts after conversion:
bed: 216535
bath: 194215
price: 110

### 4) Check the number of unique values in the bed, bath and state columns. 

### You should get 49, 42 and 19 respectively

### Print the uniques values for bed, bath and state. What do you notice about the unique values ?

In [9]:
print("\nUnique values count:")
print("bed:", df['bed'].nunique())
print("bath:", df['bath'].nunique())
print("state:", df['state'].nunique())

print("\nUnique values:")
print("bed:", df['bed'].unique())
print("bath:", df['bath'].unique())
print("state:", df['state'].unique())

"""
there are some weird vals like 68. 123, inf
"""

Unique values count:
bed: 49
bath: 42
state: 19

Unique values:
bed: [  3.   4.   2.   6.   5.   1.   9.  nan   7.   8.  12.  13.  10.  11.
  33.  24.  28.  14.  18.  20.  16.  15.  19.  17.  40.  21.  86.  31.
  27.  42.  60.  22.  32.  99.  49.  29.  30.  23.  46.  36.  68. 123.
  25.  47.  inf  35.  38.  64.  48.  75.]
bath: [  2.   1.   3.   5.   4.   7.   6.  nan   8.   9.  10.  12.  13.  35.
  11.  16.  15.  18.  20.  14.  36.  25.  17.  19.  56.  42.  51.  28.
 198.  22.  33.  27.  30.  29.  24.  46.  21. 123.  39.  43.  32.  45.
  64.]
state: ['Puerto Rico' 'Virgin Islands' 'Massachusetts' 'Connecticut'
 'New Hampshire' 'Vermont' 'New Jersey' 'New York' 'South Carolina'
 'Tennessee' 'Rhode Island' 'Virginia' 'Wyoming' 'Maine' 'Georgia'
 'Pennsylvania' 'West Virginia' 'Delaware' 'Louisiana']

''

### 5) We want to see which state has the largest number of properties for sale. 

### Print a count of the number of properties in each state/territory. 

### We want to make sure that we're getting unique listings, so drop any duplicate rows and print the count of the number of properties. What do you notice about the number of properties in each state ?

In [6]:
print("\nProperties count by state:")
print(df['state'].value_counts())

df_unique = df.drop_duplicates()
print("\nProperties count by state after dropping duplicates:")
print(df_unique['state'].value_counts())
"""
THere are many duplicate listings in the data, also most of the data is from the new england area
"""

Properties count by state:
state
New York          653061
New Jersey        256551
Massachusetts     177170
Connecticut        98816
New Hampshire      51394
Vermont            48230
Maine              36650
Rhode Island       29610
Puerto Rico        24679
Pennsylvania       20060
Virgin Islands      2573
Delaware            2135
Georgia               50
Virginia              31
South Carolina        25
Tennessee             20
West Virginia          5
Wyoming                3
Louisiana              3
Name: count, dtype: int64

Properties count by state after dropping duplicates:
state
New York          67160
New Jersey        32601
Connecticut       13753
Massachusetts     10056
Pennsylvania       9549
Maine              4938
New Hampshire      3431
Rhode Island       3332
Puerto Rico        2651
Vermont            2544
Delaware           1290
Virgin Islands      730
Virginia              7
Georgia               5
West Virginia         1
Tennessee             1
Wyoming               1
South Carolina        1
Louisiana             1
Name: count, dtype: int64

'\nTHere are many duplicate listings in the data\n'

### 6) We now want to look for patterns in our data, find the 5 dates when the most houses were sold. What do you notice ?

In [7]:
print("\nTop 5 dates (prev_sold_date) with most sales:")
print(df['prev_sold_date'].value_counts().head(5))

"""
top 5 dates are all in 2022 and during the spring months. this fits with the trend from other sources I work with that spring is when the housing market is most active and covid inflated the number of houses sold.
"""

Top 5 dates (prev_sold_date) with most sales:
prev_sold_date
2022-04-15    734
2022-02-28    554
2022-03-31    516
2021-10-13    478
2022-01-21    433
Name: count, dtype: int64

'\ntop 5 dates are all in 2022 and during the spring months. this fits with the trend from other sources I work with that spring is when the housing market is most active and covid inflated the number of houses sold.\n'

### 7) Now we want to create a simple but effective summary of the properties that are for sale. 

### Let's create a summary table that contains the average home size and price, every state and each city within a state.

In [8]:
summary_table = df.groupby(['state', 'city']).agg({'house_size': 'mean', 'price': 'mean'})
print("\nSummary table (average house_size and price by state and city):")
print(summary_table)
#Your output should be this:
# 		                          house_size	price
# state	            city		
# Connecticut	    Andover	     1653.750000	2.539500e+05
#                   Ansonia	     1848.172414	2.917902e+05
#                   Ashford	     1638.888889	1.959045e+05
#                   Avon	     2929.878788	5.824611e+05
#                   Barkhamsted	 2703.538462	3.383238e+05
# ...	...	...	...
# Virgin Islands	Saint Thomas 3435.025641	1.185128e+06
# Virginia	        Cape Charles	     NaN	7.130000e+05
#                   Chincoteague	     NaN	1.620000e+05
# West Virginia	    Wyoming	     1860.000000	6.250000e+04
# Wyoming	        Cody	     1935.000000	5.350000e+05

Summary table (average house_size and price by state and city):
                              house_size         price
state          city
Connecticut    Andover       1607.180328  2.623527e+05
               Ansonia       1840.066372  2.939403e+05
               Ashford       1648.345324  2.762310e+05
               Avon          2977.006965  6.036860e+05
               Barkhamsted   2411.147783  3.866785e+05
...                                  ...           ...
Virgin Islands Saint Thomas  3483.603448  1.169000e+06
Virginia       Cape Charles          NaN  7.100000e+05
               Chincoteague          NaN  1.707000e+05
West Virginia  Wyoming       1860.000000  6.250000e+04
Wyoming        Cody          1935.000000  5.350000e+05

[4308 rows x 2 columns]